/*HTML Widget*/
ul.cycler li {
	display: inline-block;
	letter-spacing: -0.05em;
	margin-top: -5px;
}

ul.cycler {
	line-height: 1.2em;
	text-align: center;
}

.cyclerdays,
.cyclerhours,
.cyclerminutes {
	margin-right: 0.5em;
}
html, body {
	overflow-x: hidden;
}
#u7757-bw {
    margin-top: 0px;
}
/*HTML Widget*/

.present-block-text {
	background: #FD2016;
}

.present-block{
	margin-top: 10rem;
	margin-left: 95%;
}

@media screen and (max-width: 1060px) {
	#u5581_align_to_page {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
		flex-direction: column;
	}
	#u102-4, #u294-6, #u9191-6, #u9194-5 {
		zoom: 1.3;
	}
	#u217-4 {
		margin-top: 20px;
	}
	#u5595-4 {
		margin-bottom: 60px;
	}
	#u102-4 p{
		text-align: left;
	}
	#pamphletu212 {
		left: 0;
    	margin: 150px 0 10px 0;
	}
	#u1062, #u216{
		transform: scale(2);
	}
	#u5595-2, #u5595-4{
		font-size: 40px !important;
	}
	#u102-4 p {
		font-size: 40px;
		margin-bottom: 20px;
	}
	#u98-8 {
		zoom: 2.5;
	}
	#u8136-14, #u8192-5, #u844-2, .content h4, #u8139-4 h1, #u8192-8 a{
	    line-height: 1.1;
	    font-size: 30px;
	}
	#u8136-14{
		padding: 5px 10px 30px;
	}
	#pu5309-12 {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
	}
	#pu5309-12>div {
		width: 518px;
		zoom: 2;
    	left: 0;
	}
	#buttonu9785 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
	}
	#u9297, #u10202 {
		zoom: 1.5;
    	left: 0;
	}
	#u9851-15 td{
		display: block;
	}
	#u9851-15 td>iframe {
		width: 100%;
    	height: 600px;
    	margin: 60px 0 60px 0;
	}
	.desc-cam, #pu6057-48 {
		zoom: 3;
	}
	#u294-4 {
		font-size: 29px;
	}
	#widgetu9259 {
		margin-top: 50px;
		left: 0;
		zoom: 1.3;
	}
	#u9258-17 {
		margin-top: 100px;
		left: 0;
		zoom: 1.3;
	}
	#u905-4 {
		margin: 0px 0 50px 0;
		zoom: 1;
	}

	.respinput{
		margin-top: 13rem !important;
		text-align: center !important;
		background-color: rgb(206, 0, 42);
	}

	#widgetu9247, #u9865_img, #u7455 {
		zoom: 1.3;
	}
	#pu9865 {
		margin: 0;
	}
	#u9865, #u9899-4, #u102-4 {
	    width: 1000px;
	}
	#u9899-4 h1 {
		font-size: 28px !important;
		margin-top: 40px;
	}
	#u9902-4, #u9985-4 {
		margin-top: 425px;
	}
	#u1770 {
		zoom: 1.4;
    	left: 0;
	}
	#pu1776-4, #u2165 {
		display: none;
	}
	#u7762 {
		clear: both;
		zoom: 2;
		margin-top: 40px;
	}
	#u7759 {
		left: 120px;
		zoom: 1.42;
	}
	#pu8385 {
		margin-top: 201px;
		margin-left: 131px;
		zoom: 2;
	}
	#u294-2 {
		line-height: 1.9;
	}
	#u102-4 {
		left: 450px;
	}
	.yved {
		zoom: 1.7;
	}
	#u10150_off .col-sm-6 {
		clear: both;
		width: 95%;
		zoom: 1.5;
	}
	.container_this {
	    width: auto !important;
	}
	#u7758-6 {
		zoom: 1.2;
	}
	#u1815-50 {
		clear: both;
		left: 0;
	}
	#u7761-4, #u7764-4{
		transform: scale(1.5);
	}
	#u7761-4 {
		margin-top: 535px;
    	left: 484px;
	}
	#u7764-4{
		margin-top: 535px;
    	left: 367px;
	}
	#u7758-6 {
		width: 900px;
		left: 0;
	}
	#u1086-21 * {
	    font-size: 27px;
	    line-height: 1.1;
	}
	#u1086-9 {
		margin-top: -100px;
	}
	#u1093 {
		margin-top: 296px;
	}
	#u841_align_to_page {
		margin-top: 40px;
	}
	#u935-47 {
		font-size: 30px;
    	line-height: 1.1;
	}
	#u936-56 {
		display: none;
	}
	#u937-8, #u938-4, #u939-5 {
		font-size: 30px;
    	line-height: 1.1;
	}
	#pu929-6 .rounded-corners {
		margin-top: 20px;
	}
	#pbuttonu9733, #pbuttonu9785, #pbuttonu9794 {
		display: flex;
    	flex-direction: column;
    	margin-top: 0;
	}
	#pbuttonu9733 > .Button, #pbuttonu9785 > .Button, #pbuttonu9794 > .Button {
		left: 100px;
		zoom: 2;
		margin-top: 30px;
	}
	#buttonu9794, #buttonu9772 {
		left: 11px !important;
	}
	#u5304-17 {
		min-height: 1px;
	}
	#u9600{
	    clear: both;
	    zoom: 2;
	    margin-top: 40px;
        left: 12px;
	}
	#u9434 {
		zoom: 2;
		left: 12px;
	}
	#widgetu9460 {
		margin-top: 737px;
    	zoom: 2;
	}
	#widgetu9667 {
		left: 44px;
	    zoom: 2;
	    top: 757px;
	}
	#u9440-4, #u9902-4 {
	    font-size: 40px;
    	width: 1060px;
	    top: 15px;
	}
	#u9615-4 {
		font-size: 40px;
    	width: 1060px;
    	top: 757px;
    	top: 1637px;
    	left: 0;
	}
	#u9570 {
	    margin-top: 462px;
    	left: 185px;
    	zoom: 2;
	}
	#u9624 {
		margin-top: 1272px;
    	left: 185px;
    	zoom: 2;
	}
	#u9991 {
		clear: both;
	    zoom: 2;
	    margin-top: 40px;
        left: 12px;
	}
	#u9985-4 {
		font-size: 40px;
	    width: 1060px;
	    top: 1635px;
	    left: 0;
	}
	#widgetu10003 {
		left: 44px;
	    zoom: 2;
	    top: 660px;
	}
	#widgetu10054 {
		zoom: 2;
	    margin-top: 886px;
	}
	#u9905 {
		left: 12px;
		zoom: 2;
	}
	#u9941 {
		margin-top: 607px;
    	left: 185px;
    	zoom: 2;
	}
	#u10125 {
		margin-top: 1417px;
    	left: 185px;
    	zoom: 2;
	}
	#u9918 {
		left: calc(1060px / 2 - 31px / 2);
	}
	#u10128 {
		top: 1614px;
    	left: calc(1060px / 2 - 31px / 2);
	}
	#u10173-6, #u9456-6 {
		left: 261px;
	}
	#u10173-6>h1>div, #u9456-6>h1>div {
		zoom: 2;
    	left: 0 !important;
    	top: 50px !important;
	}
	#u10173-6 p, #u9456-6 p {
		padding: 10px;
	}
	#u1768_align_to_page, #u9416_align_to_page {
		padding-bottom: 736px;
	}
	#u905-4>div {
	    top: 200px !important;
	    left: 10px !important;
	}
	#u9239 {
		padding-bottom: 430px;
	}
	#u296 {
		top: 220px;
    	left: 690px;
	}
	#u930-6 {
		font-size: 33px;
	}
}