html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}

nav {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  background-color: #8022fd;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: 0.3s all ease-in-out;
}

nav a:hover {
  background-color: #8122fd86;
  transition: 0.3s all ease-in-out;
}

nav a:active {
  background-color: rgba(255, 255, 255, 0.575);
  box-shadow: inset 0px 2px 2px #333333;
}

.jumbo {
  background-color: #f5f5f5;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 35vh;
  background-image: url(../img/dylan-gillis-KdeqA3aTnBY-unsplash.jpg);
}


.jumbo h1 {
  font-size: 6rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
}

.jumbo h2 {
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
}

.jumboli {
  display: flex;
  justify-content: space-around;
  margin: 2rem 2%;
  padding: 0 30px;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  background: linear-gradient(145deg, #8924ff, #731fe4);
  color: #ffffff;
  border-radius: 20px;
}

.jumboli hr {
  border: 0.5px solid #ffffff91;
}


.aboutus {
  display: flex;
  margin: 4rem 13%;
  background-color: #f9f9f9;
}

.aboutusfl {
  background-color: #ffffff;
  color: #8022fd;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 4px 0px 4px #ffffff3a, 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.aboutusfl svg {
  margin-bottom: 10px;
}

.aboutusfl hr {
  border: 2px solid #8022fd;
  width: 100%;
}

.aboutustext {
  background: linear-gradient(145deg, #8924ff, #8022fd);
  color: #ffffff;
  padding: 1rem 2rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.aboutustext p {
  font-size: 1.8rem;
  font-weight: 700;
}

.workrules {
  background: linear-gradient(145deg, #8924ff, #731fe4);
  color: #f9f9f9;
  margin: 0 2%;
  border-radius: 20px;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.workrules h1 {
  font-size: 3rem;
  font-weight: 900;
  padding-top: 1rem;
  padding-left: 2rem;
}

.workrulesgrid {
  display: flex;
  justify-content: flex-start;
  margin: 0 2%;
  padding-bottom: 2rem;
  padding-top: 1rem;
}


.vigodi {
  margin: 0 2% !important;
}

.vigodi .timeimg {
  background-image: url(../img/debby-hudson-GUUC719v9X8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);
}


.vigodi .judgeimg {
  background-image: url(../img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);
}

.vigodi .handimg {
  background-image: url(../img/constantin-wenning-idDvA4jPBO8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);
}

.vigodi .supportimg {
  background-image: url(../img/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.22);
}

.vigodi h1 {
  text-align: center;
}

.vigodi .sgriditemtop h2 {
  font-family: 'Playfair Display', serif;
}

.vigodi .sgriditembottom {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.time {
  flex-flow: column;
}

.time .aboutusfl {
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px #ffffff3a;
}

.time .aboutustext {
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
}

.time .aboutustext p {
  font-size: 1.5rem;
}

.workrulesgrid-item h2 {
  background-color: #fff;
  border-radius: 20px;
  color: #8022fd;
  padding: 0.5rem 1rem;
  text-align: center;
}

.workrulesgrid-item {
  margin: 0 2rem;
}

.workrulesgrid-item p {
  font-weight: 500;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

.firstitemgrid {
  margin-left: 0;
}

.bossestag {
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(145deg, #8924ff, #8022fd);
  ;
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0 25%;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.bosses {
  margin-top: 8rem;
}

.bossesbio {
  display: flex;
}


.bio1 .bossesbio-photo {
  background-image: url(../img/-Акиф-scaled-1-e1596967795250-min.jpg);
}

.bio2 .bossesbio-photo {
  background-image: url(../img/-Гульнара-scaled-e1596975931593-min.jpg);
}

.bio2 .bossesbio-txt h1{
  text-align: center;
}

.bossesbio-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1.5;
}

.bossesbio-txt {
  flex: 1;
  background: linear-gradient(145deg, #8924ff, #8022fd);
  ;
  color: #fff;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Playfair Display', serif;
}

.bossesbio-txt h1 {
  font-size: 3rem;
  font-weight: 900;
  border-bottom: 3px solid #fff;
  width: 90%;
  padding-bottom: 1rem;
  transition: 0.5s ease-in-out all;
}

.bossesbio-txt h1:hover {
  width: 95%;
  transition: 0.5s all ease-in-out;
}

.bossesbio-txt h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.bossesbio-txt p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 8rem;
}

.bio1 {
  margin-top: 4rem;
}

.personal {
  margin-top: 8rem;
}

.personal h1 {
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(145deg, #8924ff, #8022fd);
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0 35%;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.personalgrid {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 2rem;
  height: 350px;
}

.person1 {
  background-image: url(../img/-Акиф-scaled-1-e1596967795250-min\ copy.jpg);
  background-size: cover;
  background-position: center;
  font-size: 2rem !important;
}

.person1::before {
  content: "8 (928) 052 99 80 beibutov@mail.ru \A \A Специализация: Гражданское право, уголовное право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}


.person2 {
  background-image: url(../img/-Гульнара-scaled-e1596975931593-min\ copy.jpg);
  background-size: cover;
  background-position: center;
}

.person2::before {
  content: "8(906)481 15 78 \A 88gulnar@mail.ru \A \A Специализация: Гражданское право, уголовное право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person3 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person3::before {
  content: "8(965) 490 66 66 djeffer595@mail.ru \A \A Специализация: Гражданское право, уголовное право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person4 {
  background-image: url(../img/-Магомед-scaled-1-e1596975733749-min.jpg);
  background-size: cover;
  background-position: center;
  font-size: 2rem !important;
}

.person4::before {
  content: "8 (928) 937 66 40 maga0931972@gmail.com\A \A Специализация:Уголовное право, защита по уголовным делам террористической направленности, о наркотиках, семейное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person5 {
  background-image: url(../img/female-headshot-silhouette-12.png);
  background-size: cover;
  background-position: center;
}

.person5::before {
  content: "8 (906) 448 14 40 kasymovabz@mail.ru\A \A Специализация: Уголовное право, гражданское право, семейное право, военные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person6 {
  background-image: url(../img/Заикин\ Леонид.PNG);
  background-size: cover;
  background-position: center;
  font-size: 1.5rem !important;
}

.person6::before {
  content: "8 (906) 765 55 50 leonid83_2016@mail.ru\A \A Специализация: Уголовное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person7 {
  background-image: url(../img/female-headshot-silhouette-12.png);
  background-size: cover;
  background-position: center;
}

.person7::before {
  content: "8 (938) 777 14 91 saida.ramazanova.2019@mail.ru\A \A Специализация: Уголовное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person8 {
  background-image: url(../img/Хайбулаев\ Али-min.JPG);
  background-size: cover;
  background-position: center;
}

.person8::before {
  content: "8 (906) 777 73 22 ali.khaybulaev92@mail.ru\A \A Специализация: Уголовное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person9 {
  background-image: url(../img/Рустамова\ Бикеханум-min.JPG);
  background-size: cover;
  background-position: center;
}

.person9::before {
  content: "8 (960) 001 00 02 bika_rustamova@mail.ru\A \A Специализация: Уголовное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person10 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person10::before {
  content: "8 (929) 869 72 27 advokat_3333@mail.ru\A \A Специализация: Уголовное право, экономические преступления";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person11 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person11::before {
  content: "8 (960) 414 47 11 \A nkt-kaspioil@yandex.ru\A \A Специализация: Гражданское Право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person12 {
  background-image: url(../img/Омаров-Раджаб-min.jpg);
  background-size: cover;
  background-position: center;
}

.person12::before {
  content: "8 (960) 416 69 26 radzhabomarob@mai.ru \A \A Специализация:Уголовное Право, гражданское Право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person13 {
  background-image: url(../img/Абдурашидов\ Мурад-min.JPG);
  background-size: cover;
  background-position: center;
}

.person13::before {
  content: "8 (938) 796 76 71 avto_lawyer@mai.ru \A \A Специализация:Уголовное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person14 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person14::before {
  content: "8 (926) 580 10 73 nurmagomed1982@gmail.com \A \A Специализация:Гражданское право, банкротство, имущественные споры, защита интеллектуальных прав";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person15 {
  background-image: url(../img/Измаилов-Гаджимурад-min.jpg);
  background-size: cover;
  background-position: center;
}

.person15::before {
  content: "8 (928) 530 74 77 kakavkaz82@gmail.com \A \A Специализация:Уголовное право, защита по делам террористической направленности";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person16 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person16::before {
  content: "8 (996) 420 21 34 advokat569@gmail.com \A \A Специализация: Гражданское право, уголовное право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person17 {
  background-image: url(../img/female-headshot-silhouette-12.png);
  background-size: cover;
  background-position: center;
}

.person17::before {
  content: "8 (960) 421 86 73 dmurzaewa@yandex.ru \A \A Специализация: Гражданское право, уголовное право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person18 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person18::before {
  content: "8 (963) 271 27 28 anix-gor@mail.ru \A \A Специализация: Гражданское право, уголовное право, семейное право, трудовые, земельные споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person19 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person19::before {
  content: "8 (999) 311 55 20 nariman@shitbekov.ru \A Специализация: Гражданское право, уголовное право, административное право, арбитраж, представительство в органах государственной власти и иных организациях";
  white-space: pre-wrap;
  /* or pre-wrap */
  font-size: 14px !important;
}

.person20 {
  background-image: url(../img/Расулов\ Азамат.jpeg);
  background-size: cover;
  background-position: center;
}

.person20::before {
  content: "8 (999) 311 55 20 nariman@shitbekov.ru \A Специализация: Гражданское право, уголовное право, административное право, арбитраж, представительство в органах государственной власти и иных организациях";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person21 {
  background-image: url(../img/Байрамов\ Шахин.jpg);
  background-size: cover;
  background-position: center;
}

.person21::before {
  content: "8 (977) 281 63 73 \A Специализация: Уголовоное право";
  white-space: pre-wrap;
  /* or pre-wrap */
}


.person22 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person22::before {
  content: "8 (928) 937 66 40 radzhabomarov@mail.ru \A Специализация: Уголовоное право, гражданское право, семейное право, наследственное право, трудовые споры";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person23 {
  background-image: url(../img/-Р\ Р°СЃСѓР»-scaled-e1596971473109-min.jpg);
  background-size: cover;
  background-position: center;
}

.person23::before {
  content: "8 (988) 429 49 75 advokat.zaynalov@mail.ru \A Специализация: Уголовоное право, гражданское право, семейное право, дела об административных правонарушениях";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person24 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person24::before {
  content: "8 (964) 011 02 03 gasanaliev1300@mail.ru \A Специализация: Уголовоное право, гражданское право";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person25 {
  background-image: url(../img/female-headshot-silhouette-12.png);
  background-size: cover;
  background-position: center;
}

.person25::before {
  content: "8 (928) 509 99 07 1822@advokatrd.ru \A Специализация: Уголовоное право, гражданское право, семейное право, дела об административных правонарушениях";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person26 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person26::before {
  content: "8 (989) 880 56 37 1821@advokatrd.ru \A Специализация: Уголовоное право, гражданское право, семейное право, дела об административных правонарушениях";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person27 {
  background-image: url(../img/48ca73f695904875a86327d1470f4ecc_silhouette-headshot-at-getdrawings-free-download_1080-1080.png);
  background-size: cover;
  background-position: center;
}

.person27::before {
  content: "8 (988) 292 57 58 1823@advokatrd.ru \A Специализация: Уголовоное право, гражданское право, семейное право, дела об административных правонарушениях";
  white-space: pre-wrap;
  /* or pre-wrap */
}

.person28 {
  background-image: url(../img/Зайналов\ Гаджимурад.jpg);
  background-size: cover;
  background-position: center;
}

.person28::before {
  content: "8 (988) 429 49 75 advokat.zaynalov@mail.ru \A Специализация: гражданское право, уголовное право, семейное право, дела об административных правонарушениях";
  white-space: pre-wrap;
  /* or pre-wrap */
}












.personalgrid-item::before {
  position: absolute;
  padding: 0 10px;
  width: calc(100%-10px);
  z-index: 2;
  font-size: 1rem;
  line-height: 40px;
  text-align: left;
  height: 0;
  font-weight: 900;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background-color: #8022fd;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

.personalgrid-item:hover::before {
  height: 100%;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.personalgrid-item:active::before {
  height: 100%;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.personalgrid-item {
  position: relative;
  background-color: #8022fd;
  color: #ffffff;
  border-radius: 5px;
  margin: 1rem;
  padding-left: 1rem;
  width: 200px;
  height: 200px;
  padding-right: 8rem;
  padding-top: 10rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.services {
  margin: 0 5%;
  margin-top: 12rem;
}

.services h1 {
  color: #8022fd;
  font-size: 5rem;
  text-align: center;
  font-weight: 900;
}

.fizlitz {
  color: #8022fd;
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: 900;
  text-align: center;
}

.servicesgrid-item {
  background: linear-gradient(145deg, #8924ff, #731fe4);
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 15px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);

}


.servicesgrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sgriditemtop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.sgriditemtop h2 {
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.awards {
  background: linear-gradient(145deg, #8924ff, #8022fd);
  color: #fff;
  margin-top: 4rem;
}

.awards h1 {
  font-weight: 900;
  font-size: 4rem;
  margin: 0 5%;
  padding-top: 2rem;
}

.awardsscroll img {
  align-self: center;
  flex: 1;
  width: 400px;
  margin-right: 5rem;
}

.awardsscroll {
  display: flex;
  justify-content: flex-start;
  margin-left: 4%;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.cont {
  flex-direction: column;
}


.cont .aboutusfl {
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px #ffffff3a;
}

.cont .aboutustext {
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
}

#about .aboutustext {
  background-image: url(../img/drew-beamer-Se7vVKzYxTI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 3rem;
}

#about {
  margin: 2rem 5%;
}

#about .aboutustext p {
  font-size: 2.2rem;
  font-weight: 700;
}

.aboutustext hr {
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.aboutuscontacs {
  display: flex;
  justify-content: space-between;
  line-height: 45px;
}

.contactsc {
  text-align: right;
  margin-top: 1rem;
  margin-left: 3rem;
  padding-bottom: 1rem;
}

.contactsc a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.reviews {
  margin: 0 5%;
  margin-top: 5rem;

}

.reviews h1 {
  color: #8022fd;
  font-size: 4rem;
}

.cont {
  margin: 5rem 5% !important;
}

.reviewsscroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-1 {
  min-width: 40vw;
  flex: 1;
}

.reviewtext {
  background: linear-gradient(145deg, #8924ff, #8022fd);
  color: #fff;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  padding: 2rem;
  font-size: 1.5rem;
  margin-right: 3rem;
  box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
}

.reviewname {
  color: #8022fd;
  font-weight: 900;
  font-size: 1.5rem;
}


.prefooter {
  background: linear-gradient(145deg, #8924ff, #8022fd);
  color: #ffffff;
  text-align: center;
  padding: 0 5%;
  margin-bottom: -1rem;
}

.prefooter h1 {
  font-weight: 900;
  font-size: 2rem;
  padding-top: 2rem;
}

.prefooter iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
}

.prefooter p {
  padding-bottom: 5rem;
}


.alwayson {
  position: fixed;
  bottom: 20px;
  right: 2%;
  background-color: #8122fdb2;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(111, 0, 255, 0.349);
  transition: 0.3s all ease-in-out;
  z-index: 3;
}

.alwayson:hover {
  background-color: #c497ff;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.consult {
  background: linear-gradient(145deg, #8924ff, #8022fd);
  color: #fff;
  margin: 5rem 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  background-image: url(../img/marten-bjork-6dW3xyQvcYE-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.consultinput {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}


.consultfl h1 {
  font-weight: 900;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
}

.consultinput input {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  border: none;
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: 900;
  color: #8022fd;
  margin-right: 1rem;
}


.consultinput input:focus {
  outline: none;
}

.consultinput input::placeholder {
  text-align: center;
  font-size: 2rem !important;
  font-weight: 900;
  color: #8122fd9d;
}


.consult .name {
  flex: 1;
}

.consult .tel {
  flex: 1;
}

.consultinput .submit {
  flex: 0.5;
  font-size: 2rem !important;
  font-weight: 900;
  height: 52px;
  color: #8022fd;
  outline: none;
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
  background-color: #fff;
}

.consultinput .submit:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}


.containerforb {
  display: flex;
  justify-content: center;
}


.buttonto {
  background: linear-gradient(145deg, #8924ff, #8022fd);
  color: #ffffff;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  margin: 3rem 0;
  font-weight: 900;
  border: none;
  justify-content: center;
  transition: 0.2s all ease-in-out;
}

.buttonto:hover {
  background-color: #b175ff;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}




@media only screen and (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  nav {
    padding: 1rem 1%;
    overflow: scroll;
    white-space: nowrap;
    position: -webkit-sticky;
    justify-content: space-between;
  }

  nav a {
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0 0.5rem;
  }

  .alwayson {
    text-align: center;
    margin: 0 2%;
    padding: 0.5rem;
  }

  .jumbo {
    line-height: 40px;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  .jumbo h1 {
    font-size: 2rem;
  }

  .jumbo h2 {
    font-size: 2rem;
  }

  .aboutus {
    flex-direction: column;
    margin: 4rem 5%;
  }

  .jumboli {
    flex-direction: column;
    text-align: left;
    font-size: 1.5rem;
    margin: 2rem 3%;
  }

  .awardsscroll {
    flex-direction: row;
    overflow-x: scroll;
  }

  .awardsscroll img {
    width: 300px;
    margin-right: 0;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
  }

  .consult {
    margin: 5rem 3%;
  }

  .consultfl h1 {
    font-size: 2rem;
    padding: 0 1rem;
  }


  .consultinput {
    flex-direction: column;
    padding: 2rem 1rem;
    padding-top: 1rem;
  }

  .consultinput input {
    width: 92%;
    height: 60px;
    margin-bottom: 1rem;
  }

  .consultinput input::placeholder {
    font-size: 1.5rem !important;
  }


  .aboutusfl {
    font-size: 1.2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 4px 4px #ffffff3a;
  }

  .aboutusfl h1 {
    font-weight: 900;
  }

  .aboutustext {
    padding: 0 1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .workrules {
    box-shadow: 0px 5px 4px rgba(128, 34, 253, 0.22);
  }

  .aboutustext p {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .workrulesgrid {
    flex-flow: column;
  }

  .workrulesgrid-item {
    margin: 0.5rem 1rem;
    text-align: left;
  }

  .workrulesgrid-item p {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 0.9rem;
  }

  .buttonto {
    margin: 0 5%;
    margin-top: 1rem;
  }

  .bossestag {
    margin: 0 5%;
    font-size: 1.5rem;
  }

  .bio1 {
    margin-top: 1rem;
  }

  .personal h1 {
    margin: 0 5%;
    overflow-x: scroll;
    font-size: 2rem;
  }

  .personalgrid {
    flex-direction: row;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    margin-top: 2rem;
  }

  /* Проблема в Reviews и Awards */

  .services {
    margin: 0 3%;
  }

  .servicesgrid {
    flex-direction: column;
  }

  .servicesgrid-item {
    padding: 0.5rem;
    border-radius: 15px;
    margin-right: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sgriditembottom {
    font-size: 1.3rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .sgriditemtop {
    margin-bottom: 0rem;
    padding-left: 1rem;
  }

  .sgriditemtop svg {
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }

  .sgriditemtop h2 {
    font-weight: 900;
    font-size: 1.5rem;
  }

  .aboutuscontacs {
    flex-direction: column;
  }

  .contactsname {
    text-align: center;
  }

  .contactsc {
    text-align: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .review-1 {
    min-width: 95vw;
  }

  .reviewtext {
    font-size: 1.2rem;
  }

  .bossesbio {
    flex-direction: column;
  }

  .bossesbio-photo {
    background-color: #8022fd;
    flex: 1;
    height: 400px;
  }

  .bossesbio-txt {
    flex: 1;
    background-color: #8022fd;
    color: #fff;
    word-wrap: normal;
    padding-left: 3%;
  }

  .bossesbio-txt h1 {
    font-size: 2rem;
  }

  .bossesbio-txt h2 {
    font-size: 1rem;
  }

  .bossesbio-txt p {
    font-size: 1rem;
  }

}