@font-face {
    font-family: 'GoodPro';
    src: url('GoodPro.otf');
    font-weight: normal;
    font-style: normal;
}   
@font-face {
    font-family: 'GoodPro';
    src: url('GoodPro-Medium.otf');
    font-weight: 500;
    font-style: normal;
}   
@font-face {
    font-family: 'GoodPro';
    src: url('GoodPro-Light.otf');
    font-weight: 300;
    font-style: normal;
}   
 